  /* ===========================
     Author: Bhargav Gandhi (BG)
     Description: _base.scss
     =========================== */

  @charset "utf-8";

  @font-face {
     font-family: "AtlasGrotesk-Light";
    src: url("../../fonts/AtlasGrotesk-Light.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/AtlasGrotesk-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../../fonts/AtlasGrotesk-Light.otf") format("opentype"), /* Open Type Font */
      url("../../fonts/AtlasGrotesk-Light.svg") format("svg"), /* Legacy iOS */
      url("../../fonts/AtlasGrotesk-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../../fonts/AtlasGrotesk-Light.woff") format("woff"), /* Modern Browsers */
      url("../../fonts/AtlasGrotesk-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "AtlasGrotesk-Regular";
    src: url("../../fonts/AtlasGrotesk-Regular.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/AtlasGrotesk-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../../fonts/AtlasGrotesk-Regular.otf") format("opentype"), /* Open Type Font */
      url("../../fonts/AtlasGrotesk-Regular.svg") format("svg"), /* Legacy iOS */
      url("../../fonts/AtlasGrotesk-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../../fonts/AtlasGrotesk-Regular.woff") format("woff"), /* Modern Browsers */
      url("../../fonts/AtlasGrotesk-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "AtlasTypewriter-Regular";
    src: url("../../fonts/AtlasTypewriter-Regular.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/AtlasTypewriter-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../../fonts/AtlasTypewriter-Regular.otf") format("opentype"), /* Open Type Font */
      url("../../fonts/AtlasTypewriter-Regular.svg") format("svg"), /* Legacy iOS */
      url("../../fonts/AtlasTypewriter-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../../fonts/AtlasTypewriter-Regular.woff") format("woff"), /* Modern Browsers */
      url("../../fonts/AtlasTypewriter-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  /* REA Style Guide */

    $fontStack        :  'AtlasGrotesk-Regular', sans-serif;
    $AtlasLight       :  'AtlasGrotesk-Light', sans-serif;
    $AtlasReg         :  'AtlasGrotesk-Regular', sans-serif;
    $AtlasType        :  'AtlasTypewriter-Regular', sans-serif;


  $buttonColor: transparent;
  $buttonBorderColor: transparent;

  /* $bgColorHome: #F9F6F4;*/

  $bgColorHome: #ffffff;
  $bgColor2: #ffffff;

  $fontColor: #3c3c3b;
  $fontColor2: #3c3c3b;


    $p-font-size-mobile : 15px;
    $p-font-size-small  : 16px;
    $p-font-size-medium : 17px;
    $p-font-size-large  : 19px;

    $h1-font-size-mobile: 28px;
    $h1-font-size-small : 31px;
    $h1-font-size-medium: 33px;
    $h1-font-size-large : 36px;

    $p-font-sizes: (
      null  : 15px,
      small : 16px,
      medium: 17px,
      900px : 18px,
      large : 19px,
      1440px: 20px,
      );

    $font12px : 12px;
    $font12em : 0.75em;

    $font14px : 14px;
    $font14em : 0.875em;

    $font16px : 16px;
    $font16em : 1em;

    $font18px : 18px;
    $font18em : 1.125em;

    $font20px : 20px;
    $font20em : 1.25em;

    $font24px : 24px;
    $font24em : 1.5em;

    $font24px : 24px;
    $font24em : 1.5em;



    @mixin transEase($sec) {
      -webkit-transition: all $sec ease-in-out;
      -moz-transition: all $sec ease-in-out;
      -o-transition: all $sec ease-in-out;
      -ms-transition: all $sec ease-in-out;
      transition: all $sec ease-in-out;
    }


    /* how about we level the playing field - time to reset! */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, button{
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
      font-weight: inherit;
      font-style: inherit;

      font-family: $fontStack;
      vertical-align: baseline;
      line-height:1;
     /* -webkit-font-smoothing: antialiased;*/
     -webkit-font-smoothing: antialiased;
    }

    /* html5 elements */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
    }

    *{
      margin:0;
      padding:0;
    }

    html, body {
      margin:0;
      padding:0;
      width:100%;
      color:$fontColor !important;
      overflow-x:hidden;
      font-size: 16px;
      font-family: $fontStack !important;
    }

   body {
      margin:0 auto;
      padding:0;
      width:100%;
      background-color: $bgColorHome !important;
      color: $fontColor !important;
      overflow:hidden;
      font-family: $fontStack;
      //max-width: 2000px !important;
      position: relative;
    }


    h1,h2,h3,h4,h5,h6,p {
      color: $fontColor;
    }
    a{
      text-decoration: none;
      color:inherit;
      &:visited {
        color: inherit;
      }
    }

    p{
      margin-top:10px;
    }

    /* image styles */
    img {

    }

  /*margin styles */

    .marginRight{
     margin:0;
   }

   .marginCenter{
    margin: 0 auto;
  }

  .row {
    margin:0 2.5% !important;
    width:95%;
    padding: 50px;
  }

  .FullWidth{
    margin:0 !important;
    width: 100%;
  }

  .container{
    padding:0 !important;
    background-color: transparent;
    background: transparent;
    width:100%;
    //max-width: 2000px !important;

  }

  div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #333 url('../../images/loading.gif') no-repeat center center;
}
  .Show {
          opacity:1 !important;
    }

  .Hide {
      opacity: 0 !important;
  }

  .hide {
      opacity: 0 !important;
  }
  ::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
